%font-standart {
  font-family: 'Arial', sans-serif;
}

%font-primary {
  font-family: 'Ranchers', cursive;
}

%font-additional {
  font-family: 'Righteous', cursive;
}

%font-title {
  font-family: 'Rubik Iso', cursive;
}

%font-text {
  font-family: 'Ubuntu Condensed', sans-serif;
}

%font-notes {
  font-family: 'Russo One', sans-serif;
}

%transition-all {
  transition: all, 0.25s, ease;
}