// Bird
.bird-container {
  position: relative;
  margin: -15rem auto 0;
  @include width-height(74rem, 6.4rem);
  left: 2rem;
  .bird {
    position: absolute;
    @include width-height(7.8rem, 6.3rem);
    @include top-left(0, 0);
    z-index: 4;
    animation: birdAnim 16s linear infinite;
  }
}

@keyframes birdAnim {
  0% {
    @include top-left(_, 100%);
    transform: scaleX(1);
  }
  25% {
    @include top-left(100%,_);
    transform: scaleX(1);
  }
  49% {
    @include top-left(0%, 0%);
    transform: scaleX(1);
  }
  50% {
    @include top-left(0%, 0%);
    transform: scaleX(-1);
  }
  75% {
    @include top-left(75%, 0%);
    transform: scaleX(-1);
  }
  100% {
    @include top-left(0%, 100%);
      transform: scaleX(-1);
  }
}

@include screen-and-small-desktop {
  .bird-container {
    margin: -11rem auto 0;
    @include width-height(50rem, 6.4rem);
  }
}

@include screen-and-tablet {
  .bird-container {
    display: none;
  }
}

// Clouds Login page
.login {
  .cloud-1,
  .cloud-2,
  .cloud-3,
  .cloud-4 {
    width: 100%;
    position: absolute;
    @include prefix(select, (none), webkit moz ms);
    pointer-events: none;
  }
  .cloud-1 {
    @include top-left(-20rem, 0);
    @include prefix(animation, cloudAnim 30s infinite linear, webkit moz);
  }
  .cloud-2 {
    @include top-left(-10rem, 0);
    @include prefix(animation, cloudAnim 110s infinite linear, webkit moz);
  }
  .cloud-3 {
    @include top-left(-20rem, 0);
    @include prefix(animation, cloudAnim 70s infinite linear, webkit moz);
  }
  .cloud-4 {
    @include top-left(-20rem, 0);
    @include prefix(animation, cloudAnim 90s infinite linear, webkit moz);
  }
}

@keyframes cloudAnim {
  from {
    @include prefix(transform, translateX(100%), webkit ms o);
  }
  to {
    @include prefix(transform, translateX(-100%), webkit ms o);
  }
}

@include media-desktop {
  .login {
    .cloud-1,
    .cloud-3,
    .cloud-4 {
      @include top-left(0rem, 0);
    }
    .cloud-2 {
      @include top-left(0rem, 0);
    }
  }
}

@include screen-and-tablet {
  .login {
    .cloud-1,
    .cloud-2,
    .cloud-3,
    .cloud-4 {
        display: none;
      }
  }
}

// Clouds SPA
.header {
  .cloud-1,
  .cloud-2,
  .cloud-3,
  .cloud-4 {
    width: 100%;
    position: absolute;
    @include prefix(select, (none), webkit moz ms);
    pointer-events: none;
  }
  .cloud-1 {
    @include top-left(-20rem, 0);
    @include prefix(animation, cloudAnim 30s infinite linear, webkit moz);
  }
  .cloud-2 {
    @include top-left(-10rem, 0);
    @include prefix(animation, cloudAnim 110s infinite linear, webkit moz);
  }
  .cloud-3 {
    @include top-left(-20rem, 0);
    @include prefix(animation, cloudAnim 70s infinite linear, webkit moz);
  }
  .cloud-4 {
    @include top-left(-20rem, 0);
    @include prefix(animation, cloudAnim 90s infinite linear, webkit moz);
  }
}

@keyframes cloudAnim {
  from {
    @include prefix(transform, translateX(100%), webkit ms o);
  }
  to {
    @include prefix(transform, translateX(-100%), webkit ms o);
  }
}

@include media-desktop {
  .header {
    .cloud-1,
    .cloud-3,
    .cloud-4 {
      @include top-left(0rem, 0);
    }
    .cloud-2 {
      @include top-left(0rem, 0);
    }
  }
}

@include screen-and-tablet {
  .header {
    .cloud-1,
    .cloud-2,
    .cloud-3,
    .cloud-4 {
        display: none;
      }
  }
}