$color-light: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-light-bg: rgba(255, 255, 255, 0.8);
$color-disabled: rgba(255, 255, 255, 0.4);
$color-span: rgb(8, 87, 161);
$color-font: rgba(91, 91, 91, 0.9);
$color-line: rgb(255, 187, 0);
$color-line-light: rgba(255, 138, 0, 0.7);
$color-line-dark: rgb(255, 138, 0);
$color-btn: rgb(255, 195, 0);
$color-slider-bg: rgb(211, 211, 211);
$color-slider: rgba(59, 59, 59, 0.7);
$color-link-light: rgba(59, 59, 59, 0.8);
$color-link-dark: rgba(59, 59, 59, 0.9);
$color-link-hover: rgb(82, 156, 48);
$color-form-hover: rgb(36, 76, 18);
$color-form-title: rgb(42, 29, 12);
$color-error: rgb(255, 0, 0);
$color-form: rgb(42, 29, 12);

$path-assets: "/assets/img/SPA/";

$desktop-width: 1400px;
$small-desktop-width: 1140px;
$tablet-width: 640px;
$mobile-width: 390px;