@mixin flex($display, $justify-content: none, $align-items: none) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin width-height($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin top-left($top: none, $left: $top) {
  top: $top;
  left: $left;
}

@mixin top-right($top: none, $right: $top) {
  top: $top;
  right: $right;
}

@mixin background-img($imgpath) {
  background-image: url($path-assets + $imgpath);
}

@mixin prefix ($property, $value, $prefixes:()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin media-greater-desktop {
  @media (min-width: $desktop-width) { @content; }
}

@mixin media-desktop {
  @media (max-width: $desktop-width) { @content; }
}

@mixin media-small-desktop {
  @media (max-width: $small-desktop-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content; }
}

@mixin screen-and-small-desktop {
  @media only screen and (max-width: $small-desktop-width) { @content; }
}

@mixin screen-and-tablet {
  @media only screen and (max-width: $tablet-width) { @content; }
}

@mixin screen-and-mobile {
  @media only screen and (max-width: $mobile-width) { @content; }
}