html {
  box-sizing: border-box;
  overflow: hidden;
}

///////////////////////////////////////////////////////////////////////////////////

// Add styles for canvas
// body {
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100vh;
//   height: 100vh;
//   // background-color: rgb(191, 20, 20);
// }

////////////////////////////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  @extend %font-primary;
  font-size: 62.5%;
}

h2 {
  font-weight: normal;
}

body {
  position: relative;
  font-size: 1.4rem;
  height: 100vh;
  @include flex(flex);
  // @include flex(flex, space-between, center);
  flex-direction: column;
  background-color: $color-span;
  @include background-img('bg1.jpg');
  @extend %transition-all;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hidden {
  display: none;
}

@include media-greater-desktop {
  html {
    font-size: 54%;
  }
}

@include media-desktop {
  html {
    font-size: 54%;
  }
}

@include media-small-desktop {
  html {
    font-size: 55%;
  }
}

@include media-tablet {
  html {
    font-size: 50%;
  }
}

@include media-mobile {
  html {
    font-size: 41%;
  }
}

@include screen-and-tablet {
  body {
    background-attachment: fixed;
    overflow: auto;
  }
}