@font-face {
  font-family: 'Rubik Iso';
  src: url("/assets/fonts/RubikIso-Regular.ttf");
}
@font-face {
  font-family: 'Ranchers';
  src: url("/assets/fonts/Ranchers-Regular.ttf");
}
@font-face {
  font-family: 'Righteous';
  src: url("/assets/fonts/Righteous-Regular.ttf");
}
@font-face {
  font-family: 'Russo One';
  src: url("/assets/fonts/RussoOne-Regular.ttf");
}
@font-face {
  font-family: 'Ubuntu Condensed';
  src: url("/assets/fonts/UbuntuCondensed-Regular.ttf");
}