.description {
  margin-bottom: 4rem;
  p {
    margin: 0 0 0.8rem;
    text-indent: 2rem;
  }
  &__title {
    margin-bottom: 2rem;
    text-align: center;
    @extend %font-notes;
    font-size: 2rem;
    font-weight: normal;
    color: $color-link-dark;
    letter-spacing: 0.2rem;
  }
  &__content {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    @extend %font-text;
    font-size: 2.1rem;
    color:$color-link-light;
    border: 0.3rem solid $color-line-light;
    border-radius: 3rem;
    line-height: 3rem;
    span {
      font-weight: bold;
      color: $color-span;
    }
  }
}

@include screen-and-small-desktop {
  .description {
    &__title {
      font-size: 1.6rem;
    }
    &__content {
      width: 75%;
      padding: 1.5rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 4rem;
    }
  }
}

@include screen-and-tablet {
  .description {
    &__content {
      width: 95%;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
}

@include screen-and-mobile {
  .description {
    &__content {
      width: 100%;
      line-height: 1.9rem;
      font-size: 1.3rem;
    }
  }
}