.error {
  &__img {
    display: block;
    margin: 0 auto 1.6rem;
    @include width-height(80%, auto);
    font-size: 0;
    border-radius: 3rem;
  }
  &__msg {
    font-family: 'Arial', sans-serif;
    color: $color-light;
    text-align: center;
  }
  &__msg span {
    color: $color-error;
  }
  &__msg a {
    text-align: center;
    color: $color-line;
  }
}

@include media-small-desktop {
  .error {
    &__img {
      @include width-height(70%, auto);
      border-radius: 2rem;
    }
    &__msg {
      font-size: 1.2rem;
    }
  }
}

@include media-tablet {
  .error {
    &__img {
      margin-bottom: 1.2rem;
    }
    &__msg {
      font-size: 0.9rem;
    }
  }
}

@include media-mobile {
  .error {
    &__msg {
      font-size: 0.7rem;
    }
  }
}