.greeting {
  &__text {
    margin: 0 0 7rem;
    padding: 0 8rem;
    @extend %font-additional;
    color:$color-link-light;
    font-size: 2.5rem;
    line-height: 2.4rem;
    line-height: 3.5rem;
    word-spacing: 0.5rem;
    text-align: center;
  }
}

@include screen-and-small-desktop {
  .greeting {
    &__text {
      margin-top: 0;
      font-size: 2rem;
      line-height: 2.4rem;
      padding: 0 10rem;
    }
  }
}

@include screen-and-tablet {
  .greeting {
    &__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 4rem;
    }
    &__link {
      width: 80%;
    }
  }
}