.level {
  margin-bottom: 4rem;
  &__title {
    margin-bottom: 3rem;
    @extend %font-notes;
    font-size: 2rem;
    font-weight: normal;
    color: $color-link-dark;
    letter-spacing: 0.2rem;
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }
  &__item {
    @include width-height(8rem);
    @include flex(flex, center, center);
    @extend %transition-all;
    cursor: pointer;
    text-decoration: none;
    color: $color-light-bg;
    border: 0.3rem solid $color-light-bg;
    background-color:transparent;
    border-radius: 1rem;
    @extend %font-title;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    transition: transform 0.25s ease,
                opacity 0.25 ease;
    &_hover {
      &:hover {
        transform: scale(1.05);
        opacity: 0.9;
      }
    }
    &_active {
      &:active {
        transform: scale(0.95);
        color: $color-link-light;
        border: 0.3rem solid $color-slider;
      }
    } 
    &_disabled {
      &:disabled {
        transform: none;
        color:$color-slider;
        border: 0.3rem solid $color-disabled;
      }
    }
  }
}

@include screen-and-small-desktop {
  .level {
    &__title {
      font-size: 1.6rem;
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
    &__item {
      @include width-height(6rem);
      font-size: 3rem;
    }
  }
}