.settings {
  &__title {
    margin: 0 auto 3.5rem;
    @extend %font-notes;
    font-size: 2rem;
    font-weight: normal;
    color: $color-link-dark;
    letter-spacing: 0.2rem;
  }
  &__slider-box {
    width: 25rem;
    color: $color-slider;
    label {
      @extend %font-notes;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
    }
  }
  &__slider {
    @include prefix(appearance, none, webkit);
    @include width-height(100%, 2.3rem);
    background: $color-slider-bg;
    outline: none;
    opacity: 0.7;
    @include prefix (transition, 0.2s, webkit);
    transition: opacity 0.2s;
    margin: 1.6rem 0 2rem;
    &::-webkit-slider-thumb {
      @include prefix(appearance, none, webkit);
      @include width-height(2.3rem);
      background-color: $color-line-dark;
      background-image: linear-gradient(to bottom, $color-line-dark, $color-btn);
      cursor: pointer;
    }
    &::-moz-range-thumb {
      @include width-height(2.3rem);
      background-color: $color-line-dark;
      background-image: linear-gradient(to bottom, $color-line-dark, $color-btn);
      cursor: pointer;
    }
    &_hover {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@include screen-and-small-desktop {
  .settings {
    &__title {
      font-size: 1.6rem;
    }
    &__slider-box {
      label {
        font-size: 1.4rem;
      }
    }
    &__slider {
      @include width-height(80%, 2rem);
      &::-webkit-slider-thumb {
        @include width-height(2rem);
      }
      &::-moz-range-thumb {
        @include width-height(2rem);
      }
    }
  }
}

@include screen-and-tablet {
  .settings {
    &__title {
      margin-bottom: 3rem;
    }
    &__slider {
      margin: 1rem auto;
    }
  }
}

@include screen-and-mobile {
  .settings {
    margin-left: 5rem;
    &__title {
      margin-bottom: 3rem;
    }
    &__slider {
      margin: 1rem auto;
    }
  }
}