.game-bgnd {
  justify-content: center;
  background-image: none;
  border: 0;
}

// @include media-greater-tablet-max {
//   canvas {
//     width: 100vw;
//     height: 100vh;
//   }
// }

canvas {
  width: 100vw;
  height: 100vh;
}