@import '../../node_modules/normalize.css/normalize.css';
@font-face {
  font-family: "Rubik Iso";
  src: url("/assets/fonts/RubikIso-Regular.ttf");
}
@font-face {
  font-family: "Ranchers";
  src: url("/assets/fonts/Ranchers-Regular.ttf");
}
@font-face {
  font-family: "Righteous";
  src: url("/assets/fonts/Righteous-Regular.ttf");
}
@font-face {
  font-family: "Russo One";
  src: url("/assets/fonts/RussoOne-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu Condensed";
  src: url("/assets/fonts/UbuntuCondensed-Regular.ttf");
}
#login {
  font-family: "Arial", sans-serif;
}

.header__nav .nav__btn, .header__nav .nav__list, .buttonBlue, html {
  font-family: "Ranchers", cursive;
}

.greeting__text {
  font-family: "Righteous", cursive;
}

.header__title {
  font-family: "Rubik Iso", cursive;
}

.description__content {
  font-family: "Ubuntu Condensed", sans-serif;
}

.level__title, .description__title, .settings__slider-box label, .settings__title, .controls__text, .controls__title {
  font-family: "Russo One", sans-serif;
}

.button, .level__item, body {
  transition: all, 0.25s, ease;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h2 {
  font-weight: normal;
}

body {
  position: relative;
  font-size: 1.4rem;
  height: 100vh;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
  background-color: rgb(8, 87, 161);
  background-image: url("/assets/img/SPA/bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hidden {
  display: none;
}

@media (min-width: 1400px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 1140px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 41%;
  }
}
@media only screen and (max-width: 640px) {
  body {
    background-attachment: fixed;
    overflow: auto;
  }
}
.bird-container {
  position: relative;
  margin: -15rem auto 0;
  width: 74rem;
  height: 6.4rem;
  left: 2rem;
}
.bird-container .bird {
  position: absolute;
  width: 7.8rem;
  height: 6.3rem;
  top: 0;
  left: 0;
  z-index: 4;
  animation: birdAnim 16s linear infinite;
}

@keyframes birdAnim {
  0% {
    top: _;
    left: 100%;
    transform: scaleX(1);
  }
  25% {
    top: 100%;
    left: _;
    transform: scaleX(1);
  }
  49% {
    top: 0%;
    left: 0%;
    transform: scaleX(1);
  }
  50% {
    top: 0%;
    left: 0%;
    transform: scaleX(-1);
  }
  75% {
    top: 75%;
    left: 0%;
    transform: scaleX(-1);
  }
  100% {
    top: 0%;
    left: 100%;
    transform: scaleX(-1);
  }
}
@media only screen and (max-width: 1140px) {
  .bird-container {
    margin: -11rem auto 0;
    width: 50rem;
    height: 6.4rem;
  }
}
@media only screen and (max-width: 640px) {
  .bird-container {
    display: none;
  }
}
.login .cloud-1,
.login .cloud-2,
.login .cloud-3,
.login .cloud-4 {
  width: 100%;
  position: absolute;
  -webkit-select: none;
  -moz-select: none;
  -ms-select: none;
  select: none;
  pointer-events: none;
}
.login .cloud-1 {
  top: -20rem;
  left: 0;
  animation: cloudAnim 30s infinite linear;
}
.login .cloud-2 {
  top: -10rem;
  left: 0;
  animation: cloudAnim 110s infinite linear;
}
.login .cloud-3 {
  top: -20rem;
  left: 0;
  animation: cloudAnim 70s infinite linear;
}
.login .cloud-4 {
  top: -20rem;
  left: 0;
  animation: cloudAnim 90s infinite linear;
}

@keyframes cloudAnim {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 1400px) {
  .login .cloud-1,
  .login .cloud-3,
  .login .cloud-4 {
    top: 0rem;
    left: 0;
  }
  .login .cloud-2 {
    top: 0rem;
    left: 0;
  }
}
@media only screen and (max-width: 640px) {
  .login .cloud-1,
  .login .cloud-2,
  .login .cloud-3,
  .login .cloud-4 {
    display: none;
  }
}
.header .cloud-1,
.header .cloud-2,
.header .cloud-3,
.header .cloud-4 {
  width: 100%;
  position: absolute;
  -webkit-select: none;
  -moz-select: none;
  -ms-select: none;
  select: none;
  pointer-events: none;
}
.header .cloud-1 {
  top: -20rem;
  left: 0;
  animation: cloudAnim 30s infinite linear;
}
.header .cloud-2 {
  top: -10rem;
  left: 0;
  animation: cloudAnim 110s infinite linear;
}
.header .cloud-3 {
  top: -20rem;
  left: 0;
  animation: cloudAnim 70s infinite linear;
}
.header .cloud-4 {
  top: -20rem;
  left: 0;
  animation: cloudAnim 90s infinite linear;
}

@keyframes cloudAnim {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 1400px) {
  .header .cloud-1,
  .header .cloud-3,
  .header .cloud-4 {
    top: 0rem;
    left: 0;
  }
  .header .cloud-2 {
    top: 0rem;
    left: 0;
  }
}
@media only screen and (max-width: 640px) {
  .header .cloud-1,
  .header .cloud-2,
  .header .cloud-3,
  .header .cloud-4 {
    display: none;
  }
}
.logout-btn,
.mute,
.menu {
  position: absolute;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0.1s;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}
.logout-btn_hover:hover,
.mute_hover:hover,
.menu_hover:hover {
  transform: scale(1.05);
  opacity: 1;
}

.logout-btn {
  top: 5rem;
  right: 5rem;
}
.logout-btn img {
  width: 4rem;
  height: 4rem;
  font-size: 0;
  border: none;
}

.mute {
  top: 10rem;
  right: 5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mute_off {
  background-image: url("/assets/img/SPA/mute_off.png");
}
.mute_on {
  background-image: url("/assets/img/SPA/mute_on.png");
}

.menu {
  top: 15rem;
  right: 5rem;
}
.menu img {
  width: 4rem;
  height: 4rem;
  font-size: 0;
  border: none;
}

@media (max-width: 821px) {
  .logout-btn {
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 2rem;
  }
  .logout-btn img {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 821px) {
  .mute {
    width: 3rem;
    height: 3rem;
    top: 6rem;
    right: 2rem;
  }
}
@media (max-width: 821px) {
  .menu {
    width: 3rem;
    height: 3rem;
    top: 10rem;
    right: 2rem;
  }
  .menu img {
    width: 3rem;
    height: 3rem;
  }
}
.greeting__text {
  margin: 0 0 7rem;
  padding: 0 8rem;
  color: rgba(59, 59, 59, 0.8);
  font-size: 2.5rem;
  line-height: 2.4rem;
  line-height: 3.5rem;
  word-spacing: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 1140px) {
  .greeting__text {
    margin-top: 0;
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 640px) {
  .greeting__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 4rem;
  }
  .greeting__link {
    width: 80%;
  }
}
.controls {
  width: 80%;
  margin-bottom: 4rem;
}
.controls__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.controls__title {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(59, 59, 59, 0.9);
  letter-spacing: 0.2rem;
}
.controls__img-key {
  width: 20rem;
}
.controls__img-letter {
  width: 6rem;
  margin-left: 7.2rem;
}
.controls__text {
  width: 70%;
  letter-spacing: 0.2rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}
.controls__text span {
  color: rgb(255, 138, 0);
  font-weight: bold;
}

@media only screen and (max-width: 1140px) {
  .controls {
    width: 70%;
    margin-bottom: 5rem;
  }
  .controls__title {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .controls__img-key {
    width: 15rem;
  }
  .controls__img-letter {
    width: 4.5rem;
    margin-left: 5.5rem;
  }
  .controls__text {
    width: 60%;
    letter-spacing: 0.2rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (max-width: 640px) {
  .controls {
    width: 95%;
  }
  .controls__img-key {
    width: 12rem;
  }
  .controls__img-letter {
    width: 3.5rem;
    margin-left: 4.5rem;
  }
  .controls__text {
    width: 50%;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
  }
}
.settings__title {
  margin: 0 auto 3.5rem;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(59, 59, 59, 0.9);
  letter-spacing: 0.2rem;
}
.settings__slider-box {
  width: 25rem;
  color: rgba(59, 59, 59, 0.7);
}
.settings__slider-box label {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.settings__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 2.3rem;
  background: rgb(211, 211, 211);
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  transition: opacity 0.2s;
  margin: 1.6rem 0 2rem;
}
.settings__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.3rem;
  height: 2.3rem;
  background-color: rgb(255, 138, 0);
  background-image: linear-gradient(to bottom, rgb(255, 138, 0), rgb(255, 195, 0));
  cursor: pointer;
}
.settings__slider::-moz-range-thumb {
  width: 2.3rem;
  height: 2.3rem;
  background-color: rgb(255, 138, 0);
  background-image: linear-gradient(to bottom, rgb(255, 138, 0), rgb(255, 195, 0));
  cursor: pointer;
}
.settings__slider_hover:hover {
  opacity: 1;
}

@media only screen and (max-width: 1140px) {
  .settings__title {
    font-size: 1.6rem;
  }
  .settings__slider-box label {
    font-size: 1.4rem;
  }
  .settings__slider {
    width: 80%;
    height: 2rem;
  }
  .settings__slider::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
  }
  .settings__slider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .settings {
    margin-left: 5rem;
  }
  .settings__title {
    margin-bottom: 3rem;
  }
  .settings__slider {
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 390px) {
  .settings {
    margin-left: 5rem;
  }
  .settings__title {
    margin-bottom: 3rem;
  }
  .settings__slider {
    margin: 1rem auto;
  }
}
.description {
  margin-bottom: 4rem;
}
.description p {
  margin: 0 0 0.8rem;
  text-indent: 2rem;
}
.description__title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(59, 59, 59, 0.9);
  letter-spacing: 0.2rem;
}
.description__content {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2.1rem;
  color: rgba(59, 59, 59, 0.8);
  border: 0.3rem solid rgba(255, 138, 0, 0.7);
  border-radius: 3rem;
  line-height: 3rem;
}
.description__content span {
  font-weight: bold;
  color: rgb(8, 87, 161);
}

@media only screen and (max-width: 1140px) {
  .description__title {
    font-size: 1.6rem;
  }
  .description__content {
    width: 75%;
    padding: 1.5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 640px) {
  .description__content {
    width: 95%;
    padding: 1rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 390px) {
  .description__content {
    width: 100%;
    line-height: 1.9rem;
    font-size: 1.3rem;
  }
}
.level {
  margin-bottom: 4rem;
}
.level__title {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(59, 59, 59, 0.9);
  letter-spacing: 0.2rem;
  text-align: center;
}
.level__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}
.level__img {
  width: 5.7rem;
  height: 5.7rem;
}
.level__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.25s ease, opacity 0.25 ease;
}
.level__item_hover:hover {
  transform: scale(1.07);
  opacity: 0.7;
}
.level__item_active:active {
  opacity: 0.5;
  transform: scale(0.95);
}
.level__item_disabled:disabled {
  transform: none;
}

@media only screen and (max-width: 1140px) {
  .level__title {
    font-size: 1.6rem;
  }
  .level__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 821px) {
  .level__title {
    margin-bottom: 3rem;
  }
  .level__list {
    gap: 1.5rem;
  }
  .level__img {
    width: 5rem;
    height: 5rem;
  }
}
.error__img {
  display: block;
  margin: 0 auto 1.6rem;
  width: 80%;
  height: auto;
  font-size: 0;
  border-radius: 3rem;
}
.error__msg {
  font-family: "Arial", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}
.error__msg span {
  color: rgb(255, 0, 0);
}
.error__msg a {
  text-align: center;
  color: rgb(255, 187, 0);
}

@media (max-width: 1140px) {
  .error__img {
    width: 70%;
    height: auto;
    border-radius: 2rem;
  }
  .error__msg {
    font-size: 1.2rem;
  }
}
@media (max-width: 640px) {
  .error__img {
    margin-bottom: 1.2rem;
  }
  .error__msg {
    font-size: 0.9rem;
  }
}
@media (max-width: 390px) {
  .error__msg {
    font-size: 0.7rem;
  }
}
#login {
  background-color: rgba(59, 59, 59, 0.7);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  z-index: 15;
}
#login form {
  text-align: center;
  width: 38rem;
  margin: 30vh auto 0;
  padding: 4rem 2rem 2rem 2rem;
  border: 0.1rem solid rgb(255, 255, 255);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.1rem 0.1rem 0, rgba(0, 0, 0, 0.09) 0 0.1rem 0.2rem 0;
}
#login form .group {
  position: relative;
  margin-bottom: 4rem;
}
#login form .group label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.5rem;
  top: -2.5rem;
  transition: all 0.2s ease;
}
#login form .group .input-login {
  font-size: 1.6rem;
  padding: 1rem 1rem 1rem 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  background: rgb(255, 255, 255);
  color: rgb(99, 99, 99);
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 0.1rem solid rgb(117, 117, 117);
  opacity: 0.7;
  font-style: italic;
}
#login form .group .input-login_:focus {
  outline: none;
}
#login form .errorlabel {
  font-size: 1.4rem;
  padding: 1rem 1rem 1rem 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  background: rgb(255, 255, 255);
  color: rgb(153, 153, 153);
  letter-spacing: 0.2rem;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 0.1rem solid rgb(255, 0, 0);
}

.button {
  position: relative;
  display: inline-block;
  padding: 1rem 2.4rem;
  margin: 0.3rem 0 1rem 0;
  width: 100%;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 0.1rem;
  background: transparent;
  border: 0;
  border-bottom: 0.2rem solid rgb(49, 96, 182);
  cursor: pointer;
}
.button:focus {
  outline: 0;
}

.buttonBlue {
  background: rgb(74, 137, 220);
  text-shadow: 0.1rem 0.1rem 0 rgba(39, 110, 204, 0.5);
}
.buttonBlue:hover {
  background: rgb(49, 96, 182);
}

.header {
  flex-shrink: 0;
  width: 100%;
  height: 48rem;
}
.header__wrapper {
  width: 140rem;
  margin: 0 auto;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header__logo-box {
  position: relative;
  width: 100%;
}
.header__logo {
  margin-top: 3.5rem;
  width: 10rem;
  height: 8rem;
}
.header__logo-2 {
  position: absolute;
  width: 4.7rem;
  height: 4.7rem;
  top: 8.5rem;
  right: 16.5rem;
}
.header__title {
  font-size: 8rem;
  width: 100%;
  height: 10rem;
  margin: 10rem 0 14rem;
  text-align: center;
  color: rgba(91, 91, 91, 0.9);
}
.header__nav {
  width: 80%;
  z-index: 2;
}
.header__nav .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  padding: 1rem 1rem;
  border-top: 0.3rem rgb(255, 187, 0) solid;
  border-bottom: 0.3rem rgb(255, 187, 0) solid;
  z-index: 3;
}
.header__nav .nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}
.header__nav .nav__item_hover:hover a {
  color: rgb(82, 156, 48);
}
.header__nav .nav__link {
  color: rgba(59, 59, 59, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
}
.header__nav .nav__link.active {
  color: rgb(8, 87, 161);
}
.header__nav .nav__btn {
  width: 20rem;
  height: 4rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background-color: rgba(255, 138, 0, 0.7);
  background-image: linear-gradient(to bottom, rgba(255, 138, 0, 0.7), rgb(255, 195, 0));
  color: rgba(59, 59, 59, 0.8);
  text-align: center;
  text-decoration: none;
}
.header__nav .nav__btn_hover:hover {
  cursor: pointer;
  background-image: none;
}

@media (max-width: 1140px) {
  .header__wrapper {
    width: 70rem;
  }
  .header__logo {
    width: 8rem;
    height: 6rem;
  }
  .header__logo-2 {
    width: 4rem;
    height: 4rem;
    top: 10rem;
    right: 2rem;
  }
  .header__title {
    margin-bottom: 20rem;
  }
}
@media (max-width: 640px) {
  .header__wrapper {
    width: 39rem;
    padding: 1rem;
  }
  .header__logo {
    margin-bottom: 7rem;
    width: 5rem;
    height: 4rem;
  }
  .header__logo-2 {
    width: 2.25rem;
    height: 2.25rem;
    top: -0.5rem;
    right: 6rem;
  }
  .header__title {
    margin: 0 0 4rem;
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 1140px) {
  .header {
    width: 100%;
    height: 53rem;
    flex-shrink: 0;
  }
  .header__nav {
    width: 105%;
  }
  .header .nav__list {
    padding: 0.8rem 1rem;
    border-top: 0.2rem rgb(255, 187, 0) solid;
    border-bottom: 0.2rem rgb(255, 187, 0) solid;
  }
  .header .nav__item a {
    font-size: 1.4rem;
  }
  .header .nav__btn {
    width: 14rem;
    height: 3rem;
    padding: 0.7rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 640px) {
  .header {
    width: 100%;
    height: 54rem;
  }
  .header .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 34rem;
    font-size: 1.2rem;
    border-top: none;
  }
  .header .nav__item {
    margin-top: 2rem;
  }
  .header .nav__item:last-child {
    margin-bottom: 2rem;
  }
  .header .nav__item a {
    font-size: 1.6rem;
  }
  .header .nav__btn {
    width: 14rem;
    height: 3.5rem;
    padding: 1rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 390px) {
  .header {
    width: 100%;
    height: 49rem;
  }
  .header__logo {
    margin-bottom: 4rem;
  }
  .header__title {
    max-width: 34rem;
    margin: 0 auto 3rem;
  }
  .header__logo-2 {
    top: 0;
    right: 5.5rem;
  }
  .header .nav__btn {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
}
.content {
  margin: 0 auto;
  padding: 0 15rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  width: 140rem;
  height: auto;
  z-index: 1;
}

@media (max-width: 1140px) {
  .content {
    width: 70rem;
  }
}
@media (max-width: 640px) {
  .content {
    width: 32rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1140px) {
  .content {
    padding: 0;
    min-height: 10rem;
  }
}
@media only screen and (max-width: 640px) {
  .content {
    margin-top: 0;
    width: 34rem;
    padding: 0;
    margin-bottom: 0;
  }
}
.game-bgnd {
  justify-content: center;
  background-image: none;
  border: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */